<div class="container" ng-init="app.setTab(3, $event)">
    <div class="row">
        <div class="jumbotron animated fadeInDown">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-header text-center well">
                        <strong>University Projects</strong>
                    </h1>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        Here you will find all of my university related projects including the grades I recieved for each module.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeInDown">
        <div class="col-sm-12"> 
            <h1>University Projects</h1><hr />    
        </div>
    </div>
    <div class="row row-eq-height">        
        <div class="col-sm-6 animated fadeInLeft text-6" style="margin-top: 20px;">
            <p>
                Not all the coursework I have done is something I can show. For example I cant show
                the maths coursework I needed to do for that module. Well I could I just dont think its the right thing to highlight here.
                Instead I have taken 9 projects which can be shown and viewed with a video and that are the most relevant
                to my programming field. These projects are from the following modules:
            </p>
            <p>
                <i>
                    Advanced Games Programming, Games Technology Project, Mobile Games Development, Real Time 3D Graphics,
                    2D Graphics Programming, Game Engine Design and Interactive Physics.
                </i>
            </p>
        </div>
        <div class="col-sm-6 portfolio-item vcenter" style="margin-top: 10px;">
            <a ng-click="app.handle($event)" class="fancybox" title="Video will be coming soon" ng-href="{{ uni.header.img }}">
                <img class="img-responsive center-block animated fadeInRight" ng-src="{{ uni.header.img }}" alt=""/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" style="margin-top:20px;" ng-repeat="proj in uni.modules" video-list>
            <a ng-click="app.handle($event)" class="video" title="Demo video" ng-href="{{ proj.vid }}">
                <img class="img-responsive animated fadeInLeft" ng-src="{{ proj.img }}" alt="" />
            </a>
        </div>
    </div>
    <div class="row well well-lg animated fadeInUp" style="margin-top:40px;">
        <h1>University Grades</h1><hr/>
        <h4><i>Best Grade 92.8%, Best Exam Grade 98.33%, Best Coursework Grade 98.0%</i></h4>
        <p>The following is a table of all my university module grades with highlighting to say if I thought it was a good result or bad.</p>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Module Name</th>
                        <th>Overall Grade</th>
                        <th>Year Studied</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grade in uni.grades" ng-class="{success:grade.grade == 'A', warning:grade.grade == 'B1'}">
                        <td>{{grade.name}}</td>
                        <td>{{grade.grade}}</td>
                        <td>{{grade.year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>