<div class="container" ng-init="app.setTab(1, $event)">
    <div class="jumbotron animated fadeInDown">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header text-center well">
                    Personal <strong>Projects</strong>
                </h1>
            </div>
            <div class="col-md-12 ">
                <p class="text-12 text-center">
                   Below I have listed all my current and on-going projects.
                   Note a lot of the projects are still under construction or their page for this website is still being written.
                </p>
            </div>
        </div>
    </div>
    <div class="row animated fadeInUp">
        <div class="col-md-12">
            <h2>
                <strong>C++ Projects
                    <img class="img-responsive pull-right mini-image" src="../images/home/cplusplus.png"/>
                </strong>
            </h2>
            <hr/>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/engine.png" alt=""/>
                <div class="caption text-center">
                    <h4>3D Horror Game</h4>
                    <p>A 3D horror game called Silence with its own simple but fully featured game engine.</p>
                    <button ng-click="app.openGithubPage('silence-enter-the-forest')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/framework.png" alt=""/>
                <div class="caption text-center">
                    <h4>2D Game Framework</h4>
                    <p>A fully featured 2D framework for media applications & includes networking capabilities.</p>
                    <button ng-click="app.openGithubPage('scepter')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/wpl.png" alt=""/>
                <div class="caption text-center">
                    <h4>Playback Library</h4>
                    <p>A library for playing and controlling WMV and AVI files on Windows in a normal window.</p>
                    <button ng-click="app.openGithubPage('wpl')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive"  src="../images/projects/code.png" alt=""/>
                <div class="caption text-center">
                    <h4>DIL Container Library</h4>
                    <p>A dependency injection container for easier management of class dependencies.</p>
                    <button ng-click="app.openGithubPage('dil')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
    </div>

    <!-- C# Projects-->
    <div class="row animated fadeInUp">
        <div class="col-md-12">
            <h2>
                <strong>
                    C# Projects
                    <img class="img-responsive pull-right mini-image" src="../images/home/csharp.png" />
                </strong>
            </h2>
            <hr />
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/codestamp.png" alt=""/>
                <div class="caption text-center">
                    <h4>Controlling Licenses</h4>
                    <p>A WPF based application which allows me to inject a license directly into my source code.</p>
                    <button ng-click="app.openGithubPage('c-sharp-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/interactiveCV.png" alt=""/>
                <div class="caption text-center">
                    <h4>InteractiveCV</h4>
                    <p>A little test project to see if I could turn a CV into a WPF application for recruitment events.</p>
                    <button ng-click="app.openGithubPage('c-sharp-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/kinect.jpg" alt=""/>
                <div class="caption text-center">
                    <h4>CodeLog</h4>
                    <p>Voice based logging system for logging progress on large projects without the need to comment.</p>
                    <button ng-click="app.openGithubPage('c-sharp-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/codebasebase.jpg" alt=""/>
                <div class="caption text-center">
                    <h4>Codebase</h4>
                    <p>A simple WPF based saved utility for reusable classes. Once saved they can be easily exported.</p>
                    <button ng-click="app.openGithubPage('c-sharp-experiments')"  type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Java Projects-->
    <div class="row animated fadeInUp">
        <div class="col-md-12">
            <h2>
                <strong>
                    Java Projects
                    <img class="img-responsive pull-right mini-image" src="../images/home/java.png" />
                </strong>
            </h2>
            <hr />
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/uws-campus-app.png" alt=""/>
                <div class="caption text-center">
                    <h4>UWS Map App</h4>
                    <p>An Android application which helps new students getting around the campus and Paisley in general.</p>
                    <button ng-click="app.openGithubPage('uws-campus-app')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/planet-defense2.jpg" alt=""/>
                <div class="caption text-center">
                    <h4>Planet Defense</h4>
                    <p>An OpenGL ES based Android game. Includes more advanced features including a particle system.</p>
                    <button ng-click="app.openGithubPage('planet-defense')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/world-cup-manager4.jpg" alt=""/>
                <div class="caption text-center">
                    <h4>World Cup Manager</h4>
                    <p>A simulator for the 2014 World Cup. Was designed by a friend and built to his specification.</p>
                    <button ng-click="app.openGithubPage('world-cup-manager')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/license.png" alt=""/>
                <div class="caption text-center">
                    <h4>App Prototype</h4>
                    <p>The prototype for CodeStamp before it was a C# based version. Injects licenses into source code.</p>
                    <button ng-click="app.openGithubPage('codeStamp-prototype')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row animated fadeInUp">
        <div class="col-md-12">
            <h2>
                <strong>
                    JavaScript Projects
                    <img class="img-responsive pull-right mini-image" src="../images/home/javascript.png" />
                </strong>
            </h2>
            <hr />
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/mail.png" alt="" />
                <div class="caption text-center">
                    <h4>Mailbox</h4>
                    <p>A combined front end and backend which allows me to view all emails from all accounts.</p>
                    <button ng-click="app.openGithubPage('web-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/mgd.jpg" alt="" />
                <div class="caption text-center">
                    <h4>Web Game</h4>
                    <p>A Phaser powered web game with a NodeJs backend providing high scores, news and the web page itself.</p>
                    <button ng-click="app.openGithubPage('web-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/analysis.png" alt="" />
                <div class="caption text-center">
                    <h4>Code Analyser</h4>
                    <p>A website which allows me to upload C++ code and get a line of code count and other interesting stats.</p>
                    <button ng-click="app.openGithubPage('web-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/projects/backup.png" alt="" />
                <div class="caption text-center">
                    <h4>Web Server</h4>
                    <p>A NodeJs server which hosts my website as well as deals with all dashboard functionality for the website.</p>
                    <button ng-click="app.openGithubPage('web-experiments')" type="button" class="btn btn-primary">View Project</button>
                </div>
            </div>
        </div>
    </div>
</div>
