<!DOCTYPE html>
<html ng-app="portfolio">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="My professional portfolio which presents my programming skills and projects. You can also find my CV here and contact information">
    <meta name="author" content="William Ian Samuel Taylor">

    <title>William Taylor</title>

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet">
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap/bootstrap-social.css" rel="stylesheet" />
    <link href="css/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="images/home/icon.png" rel="shortcut icon"/>

    <base href="/"/>
</head>
<body ng-controller="AppController as app">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">{{ app.popupTitle }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ app.popupText }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <nav ng-show="app.showNav === true" ng-class="{ animated:app.showNav === true }" class="navbar navbar-default navbar-fixed-top fadeIn" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-click="app.collapse()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand mobile_only">&lt; William Taylor /&gt;</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar_collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-class="{ active:app.activeTab === 0 }">
                        <a href="" ng-click="app.setTab(0, $event)"><b>Home</b></a>
                    </li>
                    <li ng-class="{ active:app.activeTab === 1 }">
                        <a href="#" ng-click="app.setTab(1, $event)"><b>Projects</b></a>
                    </li>
                    <li ng-class="{ active:app.activeTab === 2 }">
                        <a href="#" ng-click="app.setTab(2, $event)"><b>Portfolio</b></a>
                    </li>
                    <li ng-class="{ active:app.activeTab === 3 }">
                        <a href="#" ng-click="app.setTab(3, $event)"><b>University</b></a>
                    </li>
                    <li ng-class="{ active:app.activeTab === 4 }">
                        <a href="#" ng-click="app.setTab(4, $event)"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-content" role="grid">
        <div ng-view></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="https://maps.google.com/maps/api/js"></script>
    <script src="build/app.min.js"></script>
</body>
</html>
