
*, *::before, å*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background:white;
}

.icon {
    width: 30px;
    height: 35px;
    padding: 2px;
}

.icon-sm {
    width:12px; 
    height:12px;
}

.header {
    text-align: center;
    height: 450px;
    vertical-align: middle;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px -2px gray;
}

.header-video {
    width: 100%;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    object-fit: fill;
}

/*! uncss:ignore */
.form-error {
    border-color: red !important;
}

/*! uncss:ignore */
.form-success {
    border-color: green !important;
}

/*! uncss:ignore */
.alert {
    font-size: 50%;
    margin-top: 15px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*! uncss:ignore */
.alert-show {
  -webkit-animation: fadein 1s; 
  -moz-animation: fadein 1s; 
  -ms-animation: fadein 1s; 
  -o-animation: fadein 1s; 
  animation: fadein 1s;
}

.alert-hide {
    opacity: 0;
}

.footer {
    margin-top: -15px;
}

.desktop-large-only {
    display:none;
}

.space-bottom {
    margin-bottom: 50px;
}

h1 {
    font-size: 5.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

.thin {
    font-weight: 200;
    letter-spacing: 1px;
}

.embold {
    color: white !important; 
    text-shadow: 2px 2px #333333;
}

textarea {
    min-height: 200px;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media (min-width: 550px) {
    h1 {
        font-size: 6.0rem;
    }
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px 0 10px;
}

blockquote {
    background: rgba(249, 249, 249, 0);
    border-left: 5px solid rgba(204, 204, 204, 0.31);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/*! uncss:ignore */ 
.timeline {
    margin-bottom: 75px;
}

/*! uncss:ignore */ 
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 0px;
  background: rgb(171, 170, 170);
}

/*! uncss:ignore */ 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/*! uncss:ignore */ 
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 15px;
  background: rgba(187, 187, 187, 0.27);
  box-shadow: 0px 2px 2px rgba(187, 187, 187, 1.0);    
}

/*! uncss:ignore */ 
.timeline ul li div:hover {
    box-shadow: 0px 6px 6px rgba(187, 187, 187, 1.0);    
}

/*! uncss:ignore */ 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/*! uncss:ignore */ 
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

/*! uncss:ignore */ 
.timeline ul li:nth-child(even) div {
  left: -390px;
}

/*! uncss:ignore */
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #d6d9da transparent transparent;
}

/*! uncss:ignore */
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #d6d9da;
}

/*! uncss:ignore */
.timeline ul li::after {
  background: #4c4f50;
}
 
/*! uncss:ignore */
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
/*! uncss:ignore */
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
/*! uncss:ignore */
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

/*! uncss:ignore */ 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.text-center {
    text-align: center;
}

time {
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.title {
    color: white;
    text-shadow: 2px 2px #333333;
    margin-bottom: 5px;
}

.intro {
    color: white;
    text-shadow: 2px 2px #333333;
    letter-spacing: 0.75px;
    margin-bottom: 1.25rem;
}

figure {
     margin: 0;
}

/* SKELETON OVERRIDES  */
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #000;
    background-color: rgba(240, 244, 245, 0.5);
    border-color: rgba(78, 81, 82, 0.75);
}

h2 {
    font-size: 4.5rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    margin-bottom: 50px;
}

.button.button-primary:hover, 
button.button-primary:hover, 
input[type="submit"].button-primary:hover, 
input[type="reset"].button-primary:hover, 
input[type="button"].button-primary:hover, 
.button.button-primary:focus, 
button.button-primary:focus, 
input[type="submit"].button-primary:focus, 
input[type="reset"].button-primary:focus, 
input[type="button"].button-primary:focus {
    color: #2b2a2a;
    background-color: #d6d9da;
    border-color: rgb(0, 0, 0);
}

input[type="email"]:focus, input[type="number"]:focus, 
input[type="search"]:focus, input[type="text"]:focus, 
input[type="tel"]:focus, input[type="url"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
select:focus {
    border: 1px solid #1a1e1f;
    outline: 0;
}

/* CIRCLE.CSS GREYSCALE STYLE */
.c100.black .bar, .c100.black .fill {
  border-color: #333333 !important;
}

.c100.black:hover > span {
  color: #333333;
}

.c100.black.dark .bar, .c100.black.dark .fill {
  border-color: #333333 !important;
}

.c100.black.dark:hover > span {
  color: #333333;
}


@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px; 
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 130px);
  }

  .timeline ul li {
      padding-top: 20px;
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

   /*! uncss:ignore */ 
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #d6d9da transparent transparent;
  }
}


/* Min Media Query */

@media (min-width: 750px) {
    .vertical-center {
        margin: 0 15% 0 15%;
    }

    .header {
        height: 600px;
    }

    .header-video {
        height: 600px;
    }
}


@media (min-width: 1000px) {
    .vertical-center {
        margin: 0 25% 0 25%;
    }
}

@media (min-width: 1200px) {
    .vertical-center {
        margin: 0 30% 0 30%;
    }

    .header {
        height: 100vh;
    }

    .header-video {
        height: 100%;
    }

    .desktop-large-only {
        display:block;
    }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
	40% {
    transform: translateY(-30px)
  }
    60% {
         transform: translateY(-15px)
  }
}

.bounce {
    margin-top:40px !important;
    animation: bounce 2s infinite;
}